:root {
    --main-color-dark: #000000;
    --main-color-light: #ffffff;
    --text-color-dark: #ffffff;
    --text-color-light: #000000;
    --accent-color-1: #ffff00;
    --fixed-dark: #000000;
    --fixed-light: #ffffff;
}
.header .header-image {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(blue, yellow);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.header {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header h1 {
    justify-self: center;
    color: var(--fixed-dark);
    margin-bottom: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: arial;
}
.small-linkie {
    display: inline-block;
    color: var(--fixed-dark);
    svg {
        width: 24px;
        transition: 500ms;
    }
}
.footer-svg-linkie {
    display: inline-block;
    svg {
        fill: var(--fixed-light);
        width: 24px;
        transition: 500ms;
    }
}
.footer-svg-linkie:hover {
    svg {
        fill: var(--accent-color-1);
    }
    color: gray;
    cursor: pointer;
}
.twitterLinkie {
    transform: translateY(-4px);
}
.bs {
    transform: translateY(3px);
}
.small-linkie:hover {
    svg {
        fill: var(--accent-color-1);
    }
    color: gray;
    cursor: pointer;
}
.nav-bar {
    background-color: var(--fixed-dark);
    a {
        color: var(--fixed-light);
        text-decoration: none;
        font-weight: 400;
        padding: 16px;
        position: relative;
        display: inline-block;
        
    }:hover {
        color: gray;  
    }
    a:not(.darkmode)::after {
        transition: 1s;
        content: "";               /* Mandatory property to render element */
        position: absolute;        /* Positions line relative to text block */
        left: 50%;                   /* Aligns line starting from left edge */
        bottom: 12px;              /* Distance between text baseline and underline */
        width: 0%;               /* Spans full width of text element */
        height: 2px;               /* Thickness of custom underline */
        background-color: var(--accent-color-1); /* Custom underline color */
    }
    a:not(.darkmode):hover::after {
        transition: 1s;
        content: "";               /* Mandatory property to render element */
        position: absolute;        /* Positions line relative to text block */
        left: 16px;                   /* Aligns line starting from left edge */
        bottom: 12px;              /* Distance between text baseline and underline */
        width: calc(100% - 32px);               /* Spans full width of text element */
        height: 2px;               /* Thickness of custom underline */
        background-color: var(--accent-color-1); /* Custom underline color */
    }
}
.nav-bar a .image {
    display: inline-block;
    white-space: pre-wrap;
    background-image: url("/assets/logo.png");
    background-size: 16px;
    background-repeat: no-repeat;
}
.content {
    color: var(--text-color-light);
    background-color: var(--main-color-light);
}
.text-content {
    padding: 16px 64px 16px 64px;
}
.text-content h2 {
    margin-left: -16px;
}
.text-content p {
    font-size: 16px;
}
.footer {
    background-color: var(--main-color-dark);
    color: var(--text-color-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-footer {
    width: 25%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-footer img {
    width: 22.5%;
}
.right-footer {
    padding: 10px;
}
.right-footer .norm-link {
    display: inline-block;
    margin-left: 16px;
    transition: 500ms;
    transform: translateY(-5px);
}
.right-footer .norm-link:hover {
    color: var(--accent-color-1);
    cursor: pointer;
}
.darkmode {
    cursor: pointer;
    float:right;
}
.photos-1 {
    margin: 8px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px;
    transition: 500ms;
}
.photos-1:hover {
    box-shadow: 2px 4px 2px;
    transform: translateY(-2px);

}
.embeded-form {
    height: 80%;
    width: 100%;
    border-width: 0px;
}
.about-us {
    width: 75%;
    float: center;
}
.about-us div {
    display: flex;
    flex-direction: row;
}
.about-us div div {
    display: block;
}
.about-us-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
html {
    scroll-behavior: smooth;
}